NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY='key'
CLERK_SECRET_KEY='key'
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

DATABASE_URL="mysql://root@localhost:3306/lms"

NEXT_PUBLIC_TEACHER_ID='teacherId'


MUX_TOKEN_ID="token"
MUX_TOKEN_SECRET="token"


STRIPE_API_KEY='stripe_key'
NEXT_PUBLIC_APP_URL=http://localhost:3000/
STRIPE_WEBHOOK_SECRET="stripKey"


UPLOADTHING_SECRET="UPLOADTHING_KEY"
UPLOADTHING_APP_ID='appId'